/* Responsive Styles */


@media (max-width: 900px) {
    *{
      background-color: #43444a;
    }
    .container {
      border: 2px solid #43444a;
      width: 100%;
      /* background-color: red; */
    }
   
    .left {
      width: 100%;
    }
  
    .right {
      display: none;
    }
  
    .header {
      margin-top: 0;
    }
  
    label {
      font-size: 1rem;
    }
  
    input {
      font-size: 1rem;
    }
    .remind label {
      font-size: 1rem;
    }
    .remind input {
      font-size: 1rem;
      height: 22px;
      width: 9%;
    }
    #signin-btn {
      margin-top: 10px;
    }
    #signin-btn:hover {
      box-shadow: 80vw 0 0 0 #fff inset;
      color: #036702;
    }
    .device-info {
      color: #fff;
      text-align: center;
     
    }
    .device-info p {
      width: 80%;
      margin: auto;
    }
  
    #download-btn {
      margin: 32px;
    }
    #download-btn:hover {
      box-shadow: 80vw 0 0 0 #fff inset;
      color: #036702;
    }
    .wrapper{
      display: initial;
    }
  }
  